* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    /* padding: 8px 25px; */
    padding: 8px 40px;
    transition: all 0.5s ease;
    border-radius: 25px;
}

.navbar ul li a:hover {
    background-color: #f6de8c;
    color: #000;
    box-shadow: 0 0 10px #fff;
    border-radius: 25px;
}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/back-phone.webp) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #fff; */
    /* align-items: center; */
    align-items: start;
    position: absolute;
    /* top: 30%; */
    top: 20%;
    left: 10%;
}

.headings {
    font-family: century;
    font-size: 3rem;
    /* text-align: center; */
    text-align: left;
    margin: 40px 0px;
}

.efect {
    color: #ccc;
    font-size: 2.5rem;
    border-right: 4px solid;
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(18), blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    outline: none;
    transition: 0.6s ease;
    text-decoration: none;
    border-radius: 25px;
}

.btn:hover {
    cursor: pointer;
    background-color: #f6de8c;
    color: #000;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    font-weight: bold;
    border-radius: 25px;
}

/* About Section */

#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}

.head {
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    margin-bottom: 50px;
}

#about p {
    font-size: 1.1rem;
}

#pic {
    display: flex;
}

#pic img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid #0c0d3bda;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#intro h2 {
    font-size: 2rem;
    margin-bottom: 45px;
}

/* Portfolio Section */

#portfolio {
    display: flex;
    flex-direction: column;
    background-color: #0c0d3bda;
    color: #fff;
    align-items: center;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery {
    align-items: center;
    text-align: center;
}

.gallery a {
    margin: 20px 10px;
    text-decoration: none;
    /* box-shadow: 0 0 5px #fff; */
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
}

.gallery p {
    color: #fff;
    font-family: century;
    font-size: 1rem;
    padding: 10px;
}

.gallery a:hover {
    color: #fff;
    box-shadow: 0 0 20px #fff;
}
.gallery img {
    width: 360px;
    height: 240px;
    border-radius: 10px;
}

/* Skils Section */

#services {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 420px;
    border: 1px solid #000;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, #f6de8c 50%, #fff 50%);
    background-size: 100% 200%;
    transition: all 0.8s;
}

.box:hover {
    background-position: left bottom;
    /* color: #fff; */
    border: none;
    box-shadow: 0 0 20px #5264aa;
}

.box img {
    width: 80px;
    height: 80px;
    /* background-color: #fff; */
    padding: 10px;
}

/* Footer */

#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #0c0d3bda;
    color: #fff;
    padding: 20px;
}

.container_footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
}

.container_footer a {
    margin: 0px 10px;
    color: #fff;
    text-decoration: none;
}

.container_footer img {
    width: 40px;
    height: 40px;
}
